body, html {
    padding: 0;
    margin: 0;
    background-color: #222;
    color: #fff;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#picker {
    display: inline-block;
}

.led-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.errors {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(204, 0, 0);
    color: white;
}

.errors > div {
    padding: 10px;
}